extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)
    .container.my-2
        .row
            .col-12
                +box-head("Phòng chat")
    .container.my-2
        .row.mb-3
            .col-12
                a(
                    href="rooms-chat/create"
                    class="btn btn-sm btn-success mr-1"
                    ) Tạo phòng chat
    .container.my-1
        .row
            each room in listRoomChat  
                .col-4
                div(class="box-room")
                    div(class="inner-avatar")
                        img(
                            src="https://robohash.org/Terry.png?set=set4", alt=room.title)
                    div(class="inner-infor")
                        div(class="inner-name") #{room.title}
                        div(class="inner-buttons")
                            a(
                                href=`/chat/${room.id}`
                                class="btn btn-sm btn-primary mr-1"
                                ) Nhắn tin