include ../mixins/sub-menu.pug

header
  .container
    .logo
      a(href="/")
        img(src=settingGeneral.logo, alt="Logo")
    .search-bar
      form(
        action="/search"
        method="GET"
      ) 
        input(
          type='text'
          placeholder='Tìm kiếm sản phẩm...'
          name="keyword"
          value=keyword
        )
        button(
          type='submit'
        ) 
          i.fas.fa-search
    nav.main-menu
      ul(class="d-flex align-items-center")
        li
          a(href='/') Trang chủ
        li(class="sub-menu")
          - const pathProduct = "/products";            
          a.headerTitle(href=pathProduct) Sản phẩm
          +sub-menu(layoutProductsCategory,pathProduct)
    .icons.mb-3
      a(href='/cart')
        i.cartIcon.fas.fa-shopping-cart 
        span.numberCart (#{minicart ? minicart.totalQuantity : 0})
    nav.main-menu.ml-1
      ul(class="d-flex align-items-center")
        if(user)
          li.mt-1.ml-1 
            a(href='/user/infor')
              img.mt-2(src=user.avatar?user.avatar:"/images/avatarDefault.png", class="rounded-circle mb-3", style="height: 20px;") 
              span.ml-1 #{user.fullName}
          li
            a(href='/users/friends') Bạn bè
          li
            a(href='/user/logout') Đăng xuất
        else
          li 
            a(href='/user/login') Đăng nhập 
          li 
            a(href='/user/register') Đăng ký


link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous' referrerpolicy='no-referrer')