include ../mixins/sub-menu.pug

header
  .container
    .logo
      a(href="/")
        img(src=settingGeneral.logo, alt="Logo")
    .search-bar
      form(
        action="/search"
        method="GET"
      ) 
        input(
          type='text'
          placeholder='Tìm kiếm sản phẩm...'
          name="keyword"
          value=keyword
        )
        button(
          type='submit'
        ) 
          i.fas.fa-search
    nav.main-menu
      ul
        li
          a(href='/') Trang chủ
        li(class="sub-menu")
          - const pathProduct = "/products";            
          a.headerTitle(href=pathProduct) Sản phẩm
          +sub-menu(layoutProductsCategory,pathProduct)
    .icons
      a(href='/cart')
        i.fas.fa-shopping-cart (#{minicart ? minicart.totalQuantity : 0})
    nav.main-menu.ml-1
      ul
        if(user)
          li 
            a(href='/user/infor') #{user.fullName}
          li 
            a(href='/user/logout') Đăng xuất
        else
          li 
            a(href='/user/login') Đăng nhập 
          li 
            a(href='/user/register') Đăng ký


link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous' referrerpolicy='no-referrer')