extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-error(3000)
    +alert-success(3000)
    .container-user.mt-5
        h2 Đổi mật khẩu
        form(
            action="/user/password/change-password"
            method="POST"
        ) 
            input(
                type='password' 
                name='password' 
                id='password' 
                placeholder='Nhập mật khẩu cũ' 
                required
            )
            input(
                type='password' 
                name='newpassword' 
                id='newpassword' 
                placeholder='Nhập mật khẩu mới' 
                required
            )
            input(
                type='password' 
                name='confirmNewpassword' 
                id='confirmNewpassword' 
                placeholder='Xác nhận mật khẩu mới' 
                required
            )
            button(type='submit') Cập nhật mật khẩu