extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    +alert-error(5000)

    .container-user.mt-5
        h2 Lấy lại mật khẩu
        form(
            action="/user/password/forgot"
            method="POST"
        ) 
            input(
                type='email' 
                name='email' 
                id='email' 
                placeholder='Email' 
                required
            )
            button(type='submit') Gửi mail xác nhận