extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    +alert-error(5000)

    .container-user.mt-5
        h2 Nhập mã OTP
        form(
            action="/user/password/otp"
            method="POST"
        ) 
            input(
                type='email' 
                name='email' 
                id='email' 
                placeholder='Email' 
                required
                value=email 
                readonly
            )
            input(
                type='text' 
                name='otp' 
                id='otp' 
                placeholder='Nhập mã OTP' 
                required
            )
            button(type='submit') Xác nhận