extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    +alert-error(5000)

    .container-user.mt-5
        h2 Đặt lại mật khẩu
        form(
            action="/user/password/reset"
            method="POST"
        ) 
            input(
                type='password' 
                name='password' 
                id='password' 
                placeholder='Mật khẩu mới' 
                required
            )
            input(
                 type='password' 
                name='confirmPassword' 
                id='confirmPassword' 
                placeholder='Xác nhận mật khẩu' 
                required
            )
            button(type='submit') Đổi mật khẩu